/* rgb(50,50,80) */

body {
  background-color: rgb(50,50,80);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  margin-top: 100px;
  font-size: 81px;
}

h3, h2, p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
}


a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: rgb(73,73,118);
  border-width: 0px;
  width: 200px;
  height: 66px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  font-size: 20px;
  color: white;
  margin: auto;
  display: block;
}

button:hover {
  background-color: rgb(93,177,149);
}

audio, source {
  margin: auto;
  display: block;
}

.filler {
  height: 75px;
}

#keyboard {
  margin: auto;
  display: block;
  position: -webkit-sticky;
  position: sticky;
}

#about {
  float: right;
  bottom: 15px;
  display: block;
}

.member {
  float: left;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 100px;
  flex: 1 0 50%;
}

.sep {
  margin: auto;
  display: block;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

#uploads {
  margin: auto;
  display: block;
}
#uploadLabel {
  margin: auto;
  display: block;
}

#footer {
  float: bottom;
}

input[type=button], input[type=text], input[type=password] {
  background-color: rgb(73,73,118);
  border: none;
  color: white;
  cursor: pointer;
  width: 70%;
  height: 20px;
  display: inline;
  float: right;
  margin-bottom: 15px;
  vertical-align: top;
  font-family: 'Montserrat', sans-serif;
}
.btns{
  margin: auto;
  display: block;
  width: 500px;
}

.formArea {
  margin: auto;
  display: block;
  width: 500px;
}

.profileButtons {
    display: flex;
    flex-wrap: wrap;
}

.profileArea {
  margin: auto;
  display: block;
  width: 700px;
}

.profileHeader {
  width: 74%;
  display: inline;
  float: left;
}

.mySongsProfile {
  width:74%;
  display: inline;
  float:left;
}
.navWrapper{
  width:74%;
  display: inline;
  float:left;
}

.otherUsersProfile {
  width:25%;
  display:inline;
  float:right;
}

tr {
  background-color: rgb(73,73,118);
}

tr:hover {
  background-color: #437d98;
}

th {
  font-size: 25px;
  background-color: rgb(50,50,80);
}

#browseBtn {
  background-color: rgb(73,73,118);
  border-width: 0px;
  width: 200px;
  height: 66px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  color: white;
  margin: auto;
  display: block;
}

table {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

dl {
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  display: block;
  width: 500px;
  line-height: 30px;
}

dt {
  display: inline;
}

dd {
  display: inline;
  width: 0px;
  margin: 0px;
}


label {
  font-family: 'Montserrat', sans-serif;
  color: white;
  clear: left;
  width: 250px;
  text-align: right;
  line-height: 40px;
  vertical-align: top;
}

#file_selector {
  font-family: 'Montserrat', sans-serif;
  color: white;
  border-width: 0px;
  margin: auto;
  display: block;
}

#register {
  background-color: rgb(73,73,118);
  border-width: 0px;
  width: 200px;
  height: 66px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  font-size: 20px;
  color: white;
  margin: auto;
  display: block;
  margin-top: 100px;
}

#register:hover {
  background-color: rgb(93,177,149);
}

#formBody {
  margin: auto;
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
}

#submit {
  background-color: rgb(73,73,118);
  border-width: 0px;
  width: 200px;
  height: 66px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  font-size: 20px;
  color: white;
  margin: auto;
  display: block;
}

#submit:hover {
  background-color: rgb(93,177,149);
}

#drumsViz, #instrumentViz, #sampleViz {
  margin: auto;
  display: block;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #5CAD93;
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


/* Code from W3 schools Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: rgb(50,50,78);
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: rgb(50,50,78);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: rgb(50,50,78);
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.createIcon {
  height: 200px;
}

/* code from https://radiatingstar.com/blog/distribute-divs-images-equaly-line/ */
.icons {
  text-align: justify;
}

.icons > .iconLink {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-left: 70px;
  margin-right: 70px;
}

.icons > .iconLink > .createLabels {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 25px;
}

.icons:after {
  content: "";
  width: 100%;
  display: inline-block;
}

#price {
  margin-bottom: 0px;
}
