/* rgb(50,50,80) */

body {
  background-color: rgb(50,50,80);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  margin-top: 100px;
  font-size: 81px;
}

h3, h2, p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
}

a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: rgb(73,73,118);
  border-width: 0px;
  width: 200px;
  height: 66px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  font-size: 20px;
  color: white;
  margin: auto;
  display: block;
}

button:hover {
  background-color: rgb(93,177,149);
}

audio, source {
  margin: auto;
  display: block;
}

.filler {
  height: 75px;
}

#keyboard {
  margin: auto;
  display: block;
  position: -webkit-sticky;
  position: sticky;
}

#about {
  float: right;
  bottom: 15px;
  display: block;
}

.member {
  float: left;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 100px;
  flex: 1 0 50%;
}

.sep {
  margin: auto;
  display: block;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

input[type=button], input[type=text], input[type=password] {
  background-color: rgb(73,73,118);
  border: none;
  color: white;
  cursor: pointer;
  width: 70%;
  height: 20px;
  display: inline;
  float: right;
  margin-bottom: 15px;
  vertical-align: top;
  font-family: 'Montserrat', sans-serif;
}

.formArea {
  margin: auto;
  display: block;
  width: 500px;
}

dl {
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  display: block;
  width: 500px;
  line-height: 30px;
}

dt {
  display: inline;
}

dd {
  display: inline;
  width: 0px;
  margin: 0px;
}


label {
  font-family: 'Montserrat', sans-serif;
  color: white;
  clear: left;
  width: 250px;
  text-align: right;
  line-height: 40px;
  vertical-align: top;
}

#file_selector {
  font-family: 'Montserrat', sans-serif;
  color: white;
  border-width: 0px;
  margin: auto;
  display: block;
}

#register {
  background-color: rgb(73,73,118);
  border-width: 0px;
  width: 200px;
  height: 66px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  font-size: 20px;
  color: white;
  margin: auto;
  display: block;
  margin-top: 100px;
}

#register:hover {
  background-color: rgb(93,177,149);
}

#formBody {
  margin: auto;
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
}

#submit {
  background-color: rgb(73,73,118);
  border-width: 0px;
  width: 200px;
  height: 66px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  font-size: 20px;
  color: white;
  margin: auto;
  display: block;
}

#submit:hover {
  background-color: rgb(93,177,149);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
