<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Indigo- About</title>

    <link rel="shortcut icon" type="image/jpg" href="../static/favicon.png"/>

    <link rel="stylesheet" href="../static/style/style.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="../static/script/nav_script.js"></script>

  </head>
  <body>

    <div class="container">

      <!-- Code from W3 schools Top Navigation Menu -->
      <div class="topnav">
        <a href="index" class="active">INDIGO</a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
          <a href="buy">BUY</a>
          <a href="login">Login</a>
          <a href="profile">My Songs</a>
          <a href="about">About</a>
          <a href="logout">Logout</a>

        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>

      <h1>ABOUT</h1>

      <div class="about">
        <h3>Inspired by Google's <a href="https://magenta.tensorflow.org/">Magenta</a>, we created Indigo. <br> We aim to provide a tool for musicians to create new music <br> and augment the creative process.</h3>
      </div>

      <div class="filler"></div>

      <div class="flex-container">

      <div class="member">
        <img src="static/Rushil.png" alt="Rushil Headshot" height = "300px">
        <h3>Rushil Sheth</h3>
        <h4>Fullstack Engineer</h4>
        <p>Description</p>
        <button onclick="location.href='mailto:rjsheth2@usfca.edu';">Contact</button>
      </div>

      <div class="member">
        <img src="static/Jacob.png" alt="Jacob Headshot" height = "300px">
        <h3>Jacob Goffin</h3>
        <h4>Product Manager</h4>
        <p>Description</p>
        <button onclick="location.href='mailto:jgoffin@usfca.edu';">Contact</button>
      </div>

      <div class="member">
        <img src="static/Lori.png" alt="Lori Headshot" height = "300px">
        <h3>Lori Sheng</h3>
        <h4>Backend Engineer</h4>
        <p>Description</p>
        <button onclick="location.href='mailto:lsheng@usfca.edu';">Contact</button>
      </div>

      <div class="member">
        <img src="static/Ash.png" alt="Ash Headshot" height = "300px">
        <h3>Ash Jha</h3>
        <h4>Fullstack Engineer</h4>
        <p>Description</p>
        <button onclick="location.href='mailto:akjha@usfca.edu';">Contact</button>
      </div>

      <div class="member">
        <img src="static/Hannah.png" alt="Hannah Headshot" height = "300px">
        <h3>Hannah Lyon</h3>
        <h4>Front End Engineer</h4>
        <p>Description</p>
        <button onclick="location.href='mailto:hlyon@usfca.edu';">Contact</button>
      </div>

      <div class="member">
        <img src="static/Alan.png" alt="Alan Headshot" height = "300px">
        <h3>Alan Flint</h3>
        <h4>Data Scientist</h4>
        <p>Description</p>
        <button onclick="location.href='mailto:aflint2@usfca.edu';">Contact</button>
      </div>

      <div class="member">
        <img src="static/Kirsten.png" alt="Kirsten Headshot" height = "300px">
        <h3>Kirsten Tsai</h3>
        <h4>Backend Engineer</h4>
        <p>Description</p>
        <button onclick="location.href='mailto:mtsai@usfca.edu';">Contact</button>
      </div>

      </div>
    </div>

  </body>
</html>
