<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.2.3"></script>
    <script src="https://unpkg.com/@tonejs/midi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="static/style/style.css"> -->
    <style>
      div {
        padding-top: 10px;
      }
      #sample, #drums, #instrument {
        padding: 40px;
        position: relative;
      }
      #btnPlaySample, #btnPlayDrums, #btnPlayInstrument {
        position: absolute;
        top: 10px;
        left: 5px;
      }
    </style>
</head>
<body>
    <label>Select from your files:</label>
    <div id="samplesList">
        <select id="samples">
            <option disabled selected value="">--select--</option>
            <option value="bass_4bars.mid">Bass Sample (4 Bars)</option>
            <option value="chuck_berry_8bars.mid">Chuck Berry (Guitar 8 Bars)</option>
            <option value="all_around_the_world.mid">All Around the World</option>
            <option value="nirvana.mid">Where Did You Sleep Last Night?</option>
            <option value="drive.mid">Drive</option>
        </select>
    </div>
    <div style="overflow:scroll; display:none" id="sample">
        <button id="btnPlaySample" class="button-circle" aria-label="play">
              <svg id="playSample" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M8 5v14l11-7z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
              <svg id="stopSample" style="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M6 6h12v12H6z"/>
              </svg>
        </button>
        <svg id='sampleViz'></svg>
    </div>
    <div id="instrumentList" style="display:none">
        <select id="instruments">
            <option disabled selected value="">Select an instrument from your sample</option>
        </select>
    </div>
    <div style="overflow:scroll; display:none" id="instrument">
        <button id="btnPlayInstrument" class="button-circle" aria-label="play">
              <svg id="playInstrument" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M8 5v14l11-7z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
              <svg id="stopInstrument" style="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M6 6h12v12H6z"/>
              </svg>
        </button>
        <svg id='instrumentViz'></svg>
    </div>
    <div id="drum_rnn" style="display:none">
        <button type="button" id="drums_rnn">Generate Drum Beat (RNN)</button>
        <label for="rnn_temp">Model Temperature (Higher = More Experimental Output):</label>
        <input type="number" id="rnn_temp" max="5.0" min="0.0" value="1.4" step=0.01>
    </div>
    <div style="overflow:scroll; display:none" id="drums">
        <button id="btnPlayDrums" class="button-circle" aria-label="play">
              <svg id="playDrums" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M8 5v14l11-7z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
              <svg id="stopDrums" style="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M6 6h12v12H6z"/>
              </svg>
        </button>
        <svg id='drumsViz'></svg>
    </div>
    <div id="combined" style="display:none">
        <button type="button" id="btnPlayCombined">Play Sample with Generated Drum Track</button>
        <button type="button" id="stopCombined" style="display:none">Stop Music</button>
    </div>
</body>
<script type="text/javascript" src="static/mappings.js"></script>
<script src='static/script/drums.js'></script>
</html>