<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDIGO- DrumsRNN</title>
    <script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.2.3"></script>
    <script src="https://unpkg.com/@tonejs/midi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../static/style/style.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="../static/script/nav_script.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="static/style/style.css"> -->
    <style>

      #sample, #drums {
        padding: 40px;
        position: relative;
      }
      #btnPlaySample, #btnPlayDrums {
        position: absolute;
        top: 10px;
        left: 5px;
      }

    </style>
</head>
<body>


  <!-- Code from W3 schools Top Navigation Menu -->
  <div class="topnav">
    <a href="index" class="active">INDIGO</a>
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
      <a href="buy">BUY</a>
      <a href="login">Login</a>
      <a href="create">Create</a>
      <a href="my_songs">My Songs</a>
      <a href="about">About</a>
      <a href="logout">Logout</a>

    </div>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>




  <div class="filler">  </div>

    <label>Select from samples:</label>
    <div id="div1">
        <select id="samples">
            <option disabled selected value="">Please select a sample</option>
            <option value="bass_4bars.mid">Bass Sample 4 Bars</option>
            <option value="rock_licks_excerpt.mid">Guitar Sample 4 Bars</option>
            <option value="chuck_berry_8bars.mid">Chuck Berry (Guitar 8 Bars)</option>
            <option value="all_around_the_world.mid">All Around the World (Bass 4 Bars)</option>
        </select>
        <!-- <button type="button" id="playbutton" style="display:none">Play Sample</button> -->
        <!-- <button type="button" id="stopbutton" style="display:none">Stop</button> -->
    </div>
    <div style="overflow:scroll; display:none" id="sample">
        <button id="btnPlaySample" class="button-circle" aria-label="play">
              <svg id="playSample" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M8 5v14l11-7z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
              <svg id="stopSample" style="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M6 6h12v12H6z"/>
              </svg>
        </button>

        <div class="filler">  </div>

        <svg id='sampleViz'></svg>
    </div>
    <div id="drum_rnn" style="display:none">
        <button type="button" id="drums_rnn">Generate Drum Beat (RNN)</button>
        <label for="rnn_temp">Model Temperature (Higher = More Random Output):</label>
        <input type="number" id="rnn_temp" max="5.0" min="0.0" value="1.4" step=0.01>
    </div>
    <div style="overflow:scroll; display:none" id="drums">
        <button id="btnPlayDrums" class="button-circle" aria-label="play">
              <svg id="playDrums" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M8 5v14l11-7z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
              <svg id="stopDrums" style="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M6 6h12v12H6z"/>
              </svg>
        </button>

        <div class="filler">  </div>

        <svg id='drumsViz'></svg>
    </div>
    <div id="combined" style="display:none">
        <button type="button" id="btnPlayCombined">Play Sample with Generated Drum Track</button>
        <button type="button" id="stopCombined" style="display:none">Stop Music</button>
    </div>

    <div class="filler"></div>

    <p id='footer'>Made with <a href="https://magenta.tensorflow.org/">Google Magenta</a> </p>


</body>
<script src='static/script/drums.js'></script>
</html>
