<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>INDIGO- Make Music</title>

    <link rel="shortcut icon" type="image/jpg" href="../static/favicon.png"/>

    <link rel="stylesheet" href="../static/style/audio_style.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="javascript/midi.min.js"></script>

  </head>
  <body>

    <div class="container">

      <!-- Code from W3 schools Top Navigation Menu -->
      <div class="topnav">
        <a href="index" class="active">INDIGO</a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
          <a href="buy">BUY</a>
          <a href="login">Login</a>
          <a href="profile">My Songs</a>
          <a href="about">About</a>
          <a href="logout">Logout</a>

        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>

      <div class="topPage">

        <div class="songSelection">

          <!-- drop down menu to select song from user's uploads and play -->

          <!--<h1>{{ourfiles}}</h1>-->

          <label for="uploads">Select from uploads:</label>
            <select id="uploads" onchange="redirectToMusic(this);">
             <option disabled selected value="">Please select a value</option>
              {% for song in uploads %}
                <option value="{{song.our_filename}}">{{song.orig_filename}}</option>
              {% endfor %}
            </select>

        </div>

        <!-- <audio src="../frank.mp3" controls preload="auto"></audio> -->



        <!-- <input type="file" id="UploadMIDI" name="midifile" style="display: none;" />
        <label for="UploadMIDI" id="upload">
            UPLOAD MIDI FILE
        </label>
      -->

      <!-- Code from https://codepen.io/alexdevp/pen/RNELPV -->

      <div class="player">
  	    <canvas></canvas>
  		  <div class="song">
    			<div class="artist"><!--artist --></div>
    			<div class="name"><!-- song title --></div>
		    </div>
  		  <div class="playarea">
    			<div class="prevSong"></div>
    			<div class="play"></div>
    			<div class="pause"></div>
    			<div class="nextSong"></div>
  		  </div>
  		  <div class="soundControl"></div>
  		  <div class="time">00:00</div>
	  </div>

    <!-- Code from  https://codepen.io/iansimon/pen/Bxgbgz/
    <button id="download">Save as MIDI</button>
    -->

    <script type="text/javascript" src="../static/script/audio_script.js"></script>

    </div>

  </body>
</html>
