<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>INDIGO- Make Music</title>

    <link rel="shortcut icon" type="image/jpg" href="../static/favicon.png"/>

    <link rel="stylesheet" href="../static/style/audio_style.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>

    <div class="container">

      <div class="topPage">

        <div class="songSelection">

          <!-- drop down menu to select song from user's uploads and play -->

          <label for="uploads">Select from uploads:</label>
            <select id="uploads" onchange="playMusic(this);">
              {% for song in uploads %}
                <option value="{{song}}">{{song}}</option>
                <option value="{{song2}}">{{song2}}</option>
              {% endfor %}
            </select>

        </div>

        <!-- <input type="file" id="UploadMIDI" name="midifile" style="display: none;" />
        <label for="UploadMIDI" id="upload">
            UPLOAD MIDI FILE
        </label>
      -->

      <!-- Code from https://codepen.io/alexdevp/pen/RNELPV -->

      <div class="player">
  	    <canvas></canvas>
  		  <div class="song">
    			<div class="artist"><!--artist --></div>
    			<div class="name"><!-- song title --></div>
		    </div>
  		  <div class="playarea">
    			<div class="prevSong"></div>
    			<div class="play"></div>
    			<div class="pause"></div>
    			<div class="nextSong"></div>
  		  </div>
  		  <div class="soundControl"></div>
  		  <div class="time">00:00</div>
	  </div>

    <script type="text/javascript" src="../static/script/audio_script.js"></script>

    </div>

  </body>
</html>
