<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>INDIGO</title>

    <link rel="shortcut icon" type="image/jpg" href="../static/favicon.png"/>

    <link rel="stylesheet" href="static/style/style.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="../static/script/nav_script.js"></script>

  </head>
  <body>

    <div class="container">


      <!-- Code from W3 schools Top Navigation Menu -->
      <div class="topnav">
        <a href="index" class="active">INDIGO</a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
          <a href="buy">BUY</a>
          <a href="login">Login</a>
          <a href="profile">My Songs</a>
          <a href="about">About</a>
          <a href="logout">Logout</a>

        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>



      <h1>INDIGO</h1>

      <div class="nav">

      </div>

      <div class="">
        <button type="button" name="button" onclick="location.href='upload';">GET STARTED</button>
      </div>

      <div class="filler"></div>

      <img src="static/icon_color.png" alt="keyboard" width=50% id="keyboard">

    </div>


  </body>
</html>
