<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>INDIGO- Upload</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/favicon.png"/>

    <link rel="stylesheet" href="../static/style/style.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.2.3"></script>

    <script src="https://unpkg.com/@tonejs/midi"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script type="text/javascript" src="../static/script/audio_script.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>

    {% with messages = get_flashed_messages() %}
       {% if messages %}
         <ul class="flashes">
            {% for message in messages %}
             <div class="message_flash">{{ message }}</div>
            {% endfor %}
        </ul>
      {% endif %}
     {% endwith %}
    <div class="container">

        <form method="POST" enctype="multipart/form-data"> <!-- post : handle submission -->
          <h1>INDIGO</h1>
            <h3>File Upload</h3>
            <div class="formArea">
            {{ form.csrf_token }} <!--  render the form's CSRF field like normal. -->

            {{ form.file_selector }}
            <div class="filler"></div>
            <br/>
            {{ form.submit }}
          </div>
        </form>

        <div class="filler">

        </div>

        <div class="songSelection">

          <!-- drop down menu to select song from user's uploads and play -->

          <label id='uploadLabel' for="uploads">Select from uploads:</label>
            <select id="uploads" onchange="redirectToMusic(this);">
             <option disabled selected value="">Please select a value</option>
              {% for song in uploads %}
                <option value="{{song.our_filename}}">{{song.orig_filename}}</option>
              {% endfor %}
            </select>

        </div>

        <div class="filler">

        </div>



    </div> <!-- /container -->

    </div>

  </body>


</html>
