<html>
  <head>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.0.3"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.2.3"></script>
    <script src="https://unpkg.com/@tonejs/midi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.8.21/Tone.js"></script>

  	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/1.2.8/tf.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.0.0/es6/core.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.0.0/es6/music_vae.js"></script> -->

    <script src='../static/script/vae.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/file-saver'></script>
  </head>
  <body>
    <h1 id="loading">Loading...</h1>
    <button onclick="interpolate()" style="display:none"><h1>VAE Interpolate</h1></button>
  </body>
</html>
