<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.0.0"></script>
    <script src="https://unpkg.com/@tonejs/midi"></script>
    <script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.2.3"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <label>Select from samples:</label>
    <div id="1">
        <select id="samples">
            <option disabled selected value="">Please select a sample</option>
            <option value="bass_4bars.mid">Bass Sample 4 Bars</option>
            <option value="rock_licks_excerpt.mid">Guitar Sample 4 Bars</option>
            <option value="chuck_berry_8bars.mid">Guitar Sample 8 Bars</option>
        </select>
        <button type="button" id="playbutton" style="display:none">Play Sample</button>
        <button type="button" id="stopbutton" style="display:none">Stop</button>
    </div>
    <div id="2">
        <button type="button" id="music_vae" style="display:none">Generate Music with VAE</button>
    </div>
    <div id="3">
        <button type="button" id="combined" style="display:none">Play Combined Sample</button>
    </div>
</body>
<script>
    $('#samples').on('change', function () {
        mm.urlToNoteSequence('/static/guitar_bass_samples/'+this.value)
        .then(ns_val => note_seq = ns_val)
        .then(unimportant => quant_note_seq = mm.sequences.quantizeNoteSequence(note_seq, 4))
        .then($("#playbutton").show())

        music_vae = new mm.MusicVAE('https://storage.googleapis.com/magentadata/js/checkpoints/music_vae/mel_4bar_small_q2');

        music_vae.initialize()
        .then(function(){$("#music_vae").show()});
    });

    const main_player = new mm.SoundFontPlayer('https://storage.googleapis.com/magentadata/js/soundfonts/sgm_plus');

    $("#playbutton").click(function(){
        main_player.start(note_seq);
        $("#stopbutton").show()
    });

    $("#stopbutton").click(function(){
        main_player.stop()
    });

    $("#music_vae").click(function(){

        music_vae.sample(1, 1.2)
        .then(function(sample) {
            generated = sample;
            main_player.start(generate[0]);
            $("#combined").show();
        })
    });


    $("#combined").click(function(){
        var combined_sequence = mm.sequences.clone(quant_note_seq);
        combined_sequence['notes'].push(...generated['notes']);
        main_player.start(combined_sequence);
    });

</script>
</html>

