
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165125544-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-165125544-1');
    </script>

    <meta charset="utf-8">
    <title>INDIGO- Upload</title>
    <script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.2.3"></script>
    <script src="https://unpkg.com/@tonejs/midi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="shortcut icon" type="image/jpg" href="../static/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/script/nav_script.js"></script>
    <script src='../static/script/vae.js'></script>

  </head>
  <body>
    {% with messages = get_flashed_messages() %}
       {% if messages %}
         <ul class="flashes">
            {% for message in messages %}
             <div class="message_flash">{{ message }}</div>
            {% endfor %}
        </ul>
      {% endif %}
     {% endwith %}
    <div class="container">

      <!-- Code from W3 schools Top Navigation Menu -->
      <div class="topnav">
            <a href="index" class="active" onclick="gtag('event','click',{'event_category':'button', 'event_label':'home_button', 'value':1});">INDIGO</a>
            <!-- Navigation links (hidden by default) -->
            <div id="myLinks">
              <a href="../buy" onclick="gtag('event','click',{'event_category':'button', 'event_label':'buy_nav_bar', 'value':1});">BUY</a>
              <a href="../profile" onclick="gtag('event','click',{'event_category':'button', 'event_label':'profile_nav_bar', 'value':1});">My Songs</a>
              <a href="../about" onclick="gtag('event','click',{'event_category':'button', 'event_label':'about_nav_bar', 'value':1});">About</a>
              <a href="../logout" onclick="gtag('event','click',{'event_category':'button', 'event_label':'logout_nav_bar', 'value':1});">Logout</a>
            </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction();gtag('event','click',{'event_category':'button', 'event_label':'nav_bar', 'value':1});">
          <i class="fa fa-bars"></i>
        </a>
        </div>



		<figure>
        <h1 id="loading">Loading...</h1>
        <button onclick="interpolate(midi1='../static/tmp/{{midi_file1}}', midi2='../static/tmp/{{midi_file2}}');
                  gtag('event','click',{'event_category':'button', 'event_label':'generate_vae', 'value':10});" style="display:none">VAE Interpolate</button>
        <br/>
        <button onclick="stop()" style="display:none">Stop</button>
		</figure>

        <div class="filler"></div>




    </div> <!-- /container -->

    </div>

  </body>


</html>
