<!-- <html>
    <h1> Hello World using render_template() by {{ author }}</h1>
</html> -->

<head>
  <link rel="stylesheet" href="index.css">
</head>

<h1>Team Indigo</h1>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="img/_Ash.jpeg" alt="Ash" style="height:30%">
      <div class="container">
        <h2>Ash Jha</h2>
        <p class="title">Full Stack Engineer</p>
        <p>Responsible for leading development of Indigo's tech stack</p>
        <p>akjha@usfca.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/_Kirsten.jpeg" alt="Kirsten" style="height:30%">
      <div class="container">
        <h2>Kirsten Tsai</h2>
        <p class="title">Backend Engineer / Assistant to the Full Stack Engineer</p>
        <p>Responsible for backend servers.</p>
        <p>mtsai@usfca.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/_Jacob.jpeg" alt="Jacob" style="height:30%">
      <div class="container">
        <h2>Jacob Goffin</h2>
        <p class="title">Product Manager</p>
        <p>Delegation of tasks and supporting team members</p>
        <p>jgoffin@usfca.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/_Alan.jpeg" alt="Alan" style="height:30%">
      <div class="container">
        <h2>Alan Flint</h2>
        <p class="title">Data Scientist</p>
        <p>Data science tasks and analytics for the product</p>
        <p>aflint@usfca.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/_Hannah.jpeg" alt="Hannah" style="height:30%">
      <div class="container">
        <h2>Hannah Lyon</h2>
        <p class="title">Front End Engineer</p>
        <p>Responsible for front end user interface of the product Javascript integration.</p>
        <p>hlyon@usfca.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/_Lori.jpeg" alt="Lori" style="height:30%">
      <div class="container">
        <h2>Lori Sheng</h2>
        <p class="title">Backend Engineer</p>
        <p>Developing our backend infrastructure, handling database management, data engineering, and AWS</p>
        <p>lsheng@usfca.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/_Rushil.jpeg" alt="Rushil" style="height:30%">
      <div class="container">
        <h2>Rushil Sheth</h2>
        <p class="title">Full Stack Engineer</p>
        <p>Building the pipeline between our application and the Magenta APIs</p>
        <p>rsheth@usfca.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>