<!-- <html>
    <h1> Hello World using render_template() by {{ author }}</h1>
</html> -->

<head>
  <link rel="stylesheet" href="index.css">
</head>

<h1>Team Indigo</h1>

<h4> Project Overview </h4>
<p>Google has an open-source project named Magenta that enables users to generate new music through machine learning models. We want to leverage this project to build a platform for artists and music enthusiasts to create a new form of music.</p>

<p>Our web application will have a user interface that allows users to specify the style of music they want to create, or even input their own note sequence directly. The app will then use Magenta platform to output a new slice of music in a similar style. For a single layer/sample we could provide controls around the type of instrument used (drum vs piano e.g.)</p>

<p>It’s important to note we aren’t creating completely new songs. We are providing a tool for musicians to experiment with creating new layers/snippets of music (8 or 16 bars e.g.) So it augments their current creative process, and doesn’t replace it. </p>

<p>Another example of use could be a solo guitar player who wants to add some drum beats to his music. Instead of having to learn guitar or find a bandmate, he could input his music to our web app and have a drum beat for the song returned. 
</p>

<div class="column">
<div class="card">
  <img src="img/_Jacob.jpeg" alt="Jacob" style="height:30%">
  <div class="container">
    <h2>Jacob Goffin</h2>
    <p class="title">Product Manager</p>
    <p>Delegation of tasks and supporting team members</p>
    <p>jgoffin@usfca.edu</p>
    <p><button class="button">Contact</button></p>
  </div>
</div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="img/_Ash.jpeg" alt="Ash" style="height:30%">
      <div class="container">
        <h2>Ash Jha</h2>
        <p class="title">Full Stack Engineer</p>
        <p>Building the pipeline between our application and the Magenta APIs</p>
        <p>akjha@usfca.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/_Kirsten.jpeg" alt="Kirsten" style="height:30%">
      <div class="container">
        <h2>Kirsten Tsai</h2>
        <p class="title">Backend Engineer / Assistant to the Full Stack Engineer</p>
        <p>Responsible for backend servers.</p>
        <p>mtsai@usfca.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/_Alan.jpeg" alt="Alan" style="height:30%">
      <div class="container">
        <h2>Alan Flint</h2>
        <p class="title">Data Scientist</p>
        <p>Data science tasks and analytics for the product</p>
        <p>aflint@usfca.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/_Hannah.jpeg" alt="Hannah" style="height:30%">
      <div class="container">
        <h2>Hannah Lyon</h2>
        <p class="title">Front End Engineer</p>
        <p>Responsible for front end user interface of the product Javascript integration.</p>
        <p>hlyon@usfca.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/_Lori.png" alt="Lori" style="height:30%">
      <div class="container">
        <h2>Lori Sheng</h2>
        <p class="title">Backend Engineer</p>
        <p>Developing our backend infrastructure, handling database management, data engineering, and AWS</p>
        <p>lsheng@usfca.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/_Rushil.png" alt="Rushil" style="height:30%">
      <div class="container">
        <h2>Rushil Sheth</h2>
        <p class="title">Full Stack Engineer</p>
        <p>Building the pipeline between our application and the Magenta APIs</p>
        <p>rsheth@usfca.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>